{% if cart.item_count > 0 %}
  <p>{{ 'cart.filled.title' | t }}</p>
  <form action="/cart" method="post" novalidate>
    <div class="cart-lines">
      {% render 'line-item' for cart.items as item %}
    </div>

    <div class="subtotal-line">
      <p>
        {{ 'cart.filled.subtotal' | t }}
        {{ cart.total_price | money }}
      </p>
      <span class="price">{{ cart.total_price | money }}</span>
    </div>
    <button type="submit" name="checkout">{{ 'cart.filled.button' | t }}</button>
  </form>
{% else %}
  <p class="cart-empty-text">{{ 'cart.empty.title' | t }}</p>
  <a href="/" class="button">{{ 'cart.empty.button' | t }}</a>
{% endif %}
